:root{
    --color-background: #0f73b9;
    --color-background-div-footer: #f4f4f4;
    --color-font: #FFFFFF;
    --color-font-title-footer: #383838;
    --color-background-div-graphic-top: #005499;
    --color-background-div-graphic-end: #0088ed;
    --color-font-black: #000000;
}